$title-color: #2F264D;
$text-color: #423F4D;
$act-color: #795BDA;
$main-color:#A498D9;
$hover-color: #8E6BFF;
$white-color: #ffffff;
$bg-color: #F1EDFF;
$red-color: #FF5C8D;

$font: 'Golos Text', sans-serif;
