.blur-bg{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#282531, .75);
    z-index: 1200;
    display: none;
}
.authentication,.registration,.registration-code,.registration-done{
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 24px;;
    // background: $white-color;
    background-image: url('./../images/picture/bg-modal.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:100% 100%;
    display: none;
    z-index: 1010;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-sizing: border-box;
   
    
    h3{
        font-size: 32px;
        color:$title-color;
        font-weight: 400;
        width: 90%;
    }
    span{
        font-size: 14px;
        color:#9895A6;
        font-weight: 400;
        margin: 16px 0;
        display: block;
    }
    .sing-in-link{
        color:$act-color;
        font-size: 14px;
        font-weight: 400;
        background: none;
        border: none;
    }
    &__social{
        display: flex;
        flex-direction: column;
        gap:8px;
        a{
            box-sizing: border-box;
            padding: 16px 16px 16px 48px;
            border: 1px solid #E3E1E5;
            border-radius: 8px;
            font-size: 14px;
            color: $text-color;
            &:nth-child(1){
                background-image: url("./../images/svg/google.svg");
                background-repeat: no-repeat;
                background-position: 16px center;
            }
            &:nth-child(2){
                background-image: url("./../images/svg/facebook-auth.svg");
                background-repeat: no-repeat;
                background-position: 16px center;
            }
            &:hover{
                 border: 1px solid $hover-color;
            }
        }
    }
    .authentication__form,.registration__form,.registration-code__form{
        .form-btn{
            background: $act-color;
            border-radius: 48px;
            border: none;
            color: $white-color;
            font-size: 14px;
            font-weight: 500;
            padding: 20px 0;
           
            &:hover{
                background: $hover-color;
                transition: .3s;
            }
          }
        input{
            padding: 16px;
            width: 100%;
            margin: 8px 0;
            border-radius: 8px;
            border: 1px solid #E3E1E5;
            font-size: 14px;
            outline: none;
            display: inline-block;
            box-sizing: border-box;
            color:$title-color;
            font-size: 14px;
            position: relative;
            &:focus{
                border: 1px solid $act-color;
                
            }
            
            
        }
        .input-box{
            position: relative;
            &__pl{
                position: absolute;
                left: 16px;
                top:10px;
                color: #9895A6;
                font-size: 14px;
                font-weight: 400;
                background: $white-color;
                padding: 0 5px;
                display: block;
            }
        }
        .input-box input:focus  ~ span, .input-box input:not(:placeholder-shown) ~ span {
            transform: translateY(-27px);
            transition: .3s;
           
            
        }
        input::placeholder{
            color: transparent;
        }
    }
    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:$act-color;
        font-size: 14px;
        font-weight: 400;
        margin: 24px 0;
        span{
            display: block;
            color:$act-color;
            font-size: 14px;
            font-weight: 400;
        };
    }
}
.popup-active{
    display: block;
}
.authentication{
    .popup-close{
        border-radius: 8px;
        background: $white-color;
        padding: 14px;
        position: absolute;
        top:-16px;
        right: 0;
    }
}
.registration{
    .popup-close{
        border-radius: 8px;
        background: $white-color;
        padding: 12px 14px;
        position: absolute;
        top:-16px;
        right: 0;
        cursor: pointer;
        z-index: 1010;
    }
    &__checked{
        label{
            display: inline-flex;
            justify-content: flex-start;
            width: 100%;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            color: $text-color;
            margin: 5px 0 25px 0;
            position: relative;
            .real-chackbox{ 
                position: absolute;
                opacity: 0;
                z-index: 1;
                &:checked ~ .custom-checkbox{
                    background: $act-color;
                }
                &:checked  ~ .custom-checkbox .chackedmark{
                    opacity: 1;
                }
                
            }
            .custom-checkbox{
                width: 24px;
                height: 24px;
                border: 1px solid $act-color;
                border-radius: 3px;
                display: flex;
                margin-right: 16px;
                background: none;
                position: relative;
                
            }
            .chackedmark { // Тут центритуем и пишем стили для иконки
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                // height: auto;
                opacity: 0;// Скрываем иконку
            } 
            a{
                cursor: pointer;
                color: $act-color;
                margin-left: 5px;
                z-index: 1010;
            }
    
        }
    }
}
.registration-code{
    // display: none;
    background: none;
    background-image: url('./../images/svg/bg-popup.svg');
    background-repeat: no-repeat;
    .popup-close{
        border-radius: 8px;
        background: $white-color;
        padding: 12px 14px;
        position: absolute;
        top:-16px;
        right: 0;
    }
}
.registration-done{
    background: $white-color;
    background-image: none;
    h3{
        font-size: 32px;
        color:$title-color;
        font-weight: 400;
        width: 100%;
    }
    span{
        font-size: 14px;
        color:$text-color;
        font-weight: 400;
        margin: 24px 0;
        display: block;
        text-align: center;
    }
    .form-btn{
        width: 100%;
        background: $act-color;
        border-radius: 48px;
        border: none;
        color: $white-color;
        font-size: 14px;
        font-weight: 500;
        padding: 20px 0;
       
        &:hover{
            background: $hover-color;
            transition: .3s;
        }
    }
}
