.header{
    position: relative;
    border-bottom: 1px solid $bg-color;
    background: $white-color;
    z-index: 1000;
    
    .mobile-menu{
        background: $white-color;
        border-right: 1px solid $hover-color;
        display: flex;
        position: fixed;
        left: 0;
        top:0;
        bottom: 0;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        height: 100vh;
        z-index: 1050;
        padding: 30px  30px 90px 30px;
        color: $title-color;
        font-size: 20px;
        transform: translateX(-100vw);
        box-sizing: border-box;
        align-items: center;
        .lang-switcher{
            margin-top: 24px;
        }
        .mobile-menu__list{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px 0;
            justify-content: center;
            gap:0;
            li{
                margin: 0;
                padding: 0;
                width: 100%;
            }
            a{
                padding: 16px 0;
                border-bottom: 1px solid #9895A6;
                width: 100%;
                text-align: center;
                display: block;
            }
            
        }
        &__active{
            // display: flex;
            transform: translateX(0);
            transition-property: tranform;
            transition: 1s;
            
            
        }
        .logo{
            margin-bottom: 70px;
            display: block;
            margin-right: 5vw;
        }
       
        &__close{
            position: absolute;
            top:0;
            right: 0;
            padding: 30px;
            background: url("./../images/svg/close.svg");
            background-repeat: no-repeat;
            background-position: center center;
            width: 18px;
            height: 18px;
            cursor:pointer;
            color: $white-color;
            
        }
        &__list{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .support-link{
            margin-top: 24px;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 16px 0;
       
    }
    &__navigation{
        position: relative;
        margin-left: -150px;
        .navigation{
            display: flex;
            align-items: center;
            gap: 30px;
            a{
                color:$title-color;
                font-weight: 400;
                font-size: 14px;
                &:hover{
                    color:$hover-color;
                    transition: color .3s ease;
                }
            }
        }
    }
    .support-link{
        padding: 13px 24px;
        font-size: 14px;
        font-weight: 400;
        color: $white-color;
        background: $act-color;
        border-radius: 48px;
        &:hover{
            background: $hover-color;
            transition: background .3s ease;
        }
    }
    &__useraction{
        display: flex;
        align-items: center;
        gap: 16px;
        a{
            padding: 13px 24px;
            font-size: 14px;
            font-weight: 400;
            &:nth-child(1){
                color: $white-color;
                background: $act-color;
                border-radius: 48px;
                &:hover{
                    background: $hover-color;
                    transition: background .3s ease;
                }
            }
           
        }
        div{
            &:nth-child(2){
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
        
        .btn-auth{
            color:$title-color;
            font-weight: 400;
            border-radius: 32px;
            box-shadow: 0px 0px 1px 1px $act-color;
            // border:1px solid $act-color;
            padding-left: 48px;
            background: none;
            border: none;
            background-image: url("./../images/svg/sing-in.svg");
            background-repeat: no-repeat;
            background-position: 18px center;
            padding: 13px 24px 13px 53px;
            font-size: 14px;
            font-weight: 400;
            
            &:hover{
                box-shadow: 0px 0px 1px 2px $act-color;
                transition: box-shadow .3s ease
            }
        }
    }
    .lang-switcher{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        .lang-header{
            position: relative;
            padding: 13px 24px 13px 13px;
            &::after{
                content: "";
                position: absolute;
                width: 14px;
                height: 14px;
                top:42%;
                right: 5px;
                background: url("./../images/svg/select.svg");
                background-repeat: no-repeat;
                background-position: 0 0;
                display: block;
            }
        }
    }
    .lang-switcher__list{
        display: none;
        position: absolute;
        bottom: -136px;
        left: 0;
        top:44px;
        border:1px solid $bg-color;
        z-index: 1010;
        background: $white-color;
        li{
            padding: 13px 24px 13px 13px;
            cursor: pointer;
            border-bottom: 1px solid $bg-color;
            &:hover{
                background: $bg-color;
            }
            
        }
    }
}
.banner{
    position: relative;
    padding: 60px 0;
    background: $white-color;
    background-image: url("./../images/svg/bg-banner.svg");
    background-repeat: no-repeat;
    background-position: center 10vw;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text{
        width: 50%;
        padding-top: 27px;
    }
    &__images{
        width: 40%;
    }
    &__title{
        font-size: 48px;
        font-weight: 400;
        line-height: 130%;
        color: $title-color;
        margin: 0;
        padding: 0;
        position: relative;
        display: math;
        &::after{
            content: "";
            background: url("./../images/svg/heard.svg");
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            bottom: 10px;
            right: -20px;
            display: block;
            width: 20px;
            height: 20px;
        }
    }
    &__description{
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        color: $text-color;
        margin-bottom: 70px;
    }
    &__link{
        color: $white-color;
        font-size: 20px;
        font-weight: 500;
        padding: 25px 90px;
        background: $act-color;
        border-radius: 48px;
        display: inline-block;
        &:hover{
            background: $hover-color;
            transition: background .3s ease;
        }
    }
    &__choice{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        width: 60%;
        gap: 16px;
        span{
            color: $text-color;
            font-size: 14px;
            font-weight: 150%;
            
        }
        &__list{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            li{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid $white-color;
                margin-left: -5px;
                &:hover{
                    border: 2px solid $act-color;
                }
            }
        }
    }
}
.advantages{
    position: relative;
    background: $white-color;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    height: 15vw;
    &__indicators{
        background: $main-color;
        padding: 40px 30px 130px 30px;
        border-radius: 16px;
        width: 100%;
        margin-left: -30px;
        box-sizing: content-box;
        .indicators-list{
            display: flex;
            justify-content: space-between;
            align-items: first baseline;
            color: $white-color;
        }
        .indicators-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 17%;
            span{
                font-size: 40px;
                font-weight: 600;
                text-align: center;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                line-height: 150%;
                margin-top: 8px;
            }
        }
    }
    &__box{
        padding: 24px;
        background: $white-color;
        margin-top: -100px;
        border-radius: 8px;
        box-sizing: border-box;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap:16px;
            width: 22%;
        }
        &__title{
            font-size: 20px;
            font-weight: 500;
            color: $title-color;
            line-height: 120%;
        }
        &__text{
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
            line-height: 150%;
            margin-top: 8px;
        }
    }
}
.problem-solving{
    position: relative;
    padding: 150px 0 90px 0;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-title{
        text-align: center;
    }
    &__box{
        margin-top: 60px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: first baseline;
    }
    &__item{
        width: 30%;
        margin-bottom: 54px;
    }
    &__text{
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        color: $text-color;
        margin-top: 24px;
        text-align: center;
        margin-bottom: 36px;
    }
    &__link{
        background: $act-color;
        color: $white-color;
        font-size: 20px;
        font-weight: 500;
        padding: 24px;
        border-radius: 48px;
        &:hover{
            background: $hover-color;
            transition: background .3s ease;
        }

    }
}
.appeal{
    background: $white-color;
    padding: 90px 0;
   
    &__entry{
        font-size: 24px;
        color:#423F4D;
        font-weight: 400;
        line-height: 150%;
        padding-left: 90px;
        padding-right: 90px;
        p{
            margin: 8px 0;
        }
    }
    &__box{
        padding: 35px 90px;
        display: flex;
        justify-content: space-between;
    }
    &__description{
        width: 48%;
        margin-top: 90px;
        &__title{
            font-size: 40px;
            color:$title-color;
            font-weight: 400;
            line-height: 110%;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top:0;
                left: -80px;
                background: url("./../images/svg/quotes.svg");
                background-repeat: no-repeat;
                display: block;
                width: 80px;
                height: 80px;

            }
        }
        &__text{
            color:$title-color;
            font-weight: 400;
            line-height: 150%;
            p{
                margin-bottom: 24px;
                &:nth-child(1){
                    font-size: 20px;
                    margin-top: 24px;
                }
                &:nth-child(2){
                    font-size: 14px;
                }
                &:nth-child(3){
                    font-size: 14px;
                }
                &:nth-child(4){
                    margin-bottom: 0;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
            span{
                color: $red-color;
                font-size: 14px;;
            }
        }
    }
    &__image{
        width: 42%;
        height: 544px;
        box-sizing: border-box;
        img{
            height: 544px;
        }
    }
    &__team{
        &__title{
            font-size: 20px;
            font-weight: 400;
            line-height: 150%;
            color:#423F4D ;
            text-align: center;
            width: 60%;
            margin: 40px auto 0 auto;
            
        }
        &__list{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
        &__item{
            max-width: 156px;
            max-height: 156px;
            border-radius: 50%;
            overflow: hidden;
            border:5px solid $white-color;
            margin-left: -15px;
            box-sizing: border-box;
            &:nth-child(1){
                margin-left: 0;
            }
            &:hover{
                border:5px solid $act-color;
                transition: border .3s ease;
            }
        }
    }
    
   
}
.qualification{
    position: relative;
    background: $white-color;
    
    .section-title{
        text-align: center;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    &__item{
        width: 27%;
        margin-bottom: 60px;
        text-align: center;
        &__images{
            width: 40px;
            height: 40px;
            margin: 0 auto;
        }
        &__title{
            font-size: 20px;
            font-weight: 500;
            line-height: 150%;
            color: $title-color;
            margin-top: 18px;
        }
        &__text{
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
            color: $text-color;
            margin-top: 8px;
        }
        
    }
}
.direction{
    position: relative;
    padding: 90px 0;
    background: $white-color;
    &__more{
        // display: none;
        padding: 24px 90px;
        background: $act-color;
        font-size: 14px;
        color:$white-color;
        font-weight: 500;
        border-radius: 48px;
        margin-top: 70px;
        margin-left: 36%;
        transform: translateX(-27%);
        &:hover{
            background: $hover-color;
            transition: .3s;
        }
    }
    .section-title{
        text-align: center;
    }
    &__tab{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:8px;
        padding: 40px 90px;
        .active-tab{
            background: $act-color;
            color:$white-color;
        }
        &__item{
            background: $bg-color;
            padding: 8px 10px;
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
            cursor: pointer;
            &:hover{
                background: $act-color;
                color:$white-color;
            }
        }
    }
    &__list{
        display: flex;
        justify-content: flex-start;
        gap:16px;
        margin-bottom: 60px;
        &__item{
            width: 18%;
            height: 200px;
            min-width: 150px;
            min-height: 150px;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            z-index: 1010;
            display: block;
            box-sizing: border-box;
            img{
                height: 200px;
            }
            // &:hover {
            //     border:8px inset  $act-color;
            // }
        }
        &__description{
            position: absolute;
            left: 16px;
            bottom: 16px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap:5px;
            span{
                color: $white-color;
                
            }
           
        }
        &__name{
            font-size: 20px;
            font-weight: 500;
        }
        &__experience{
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.banner-image{
    padding: 90px 0;
    background: $bg-color;
}
.how-start{
    position: relative;
    background: $white-color;
    padding: 90px 0 240px 0;
    &__description{
        font-size: 20px;
        font-weight: 400;
        margin-top: 8px;
        color: $text-color;
    }
    &__list{
        margin-top: 60px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        &__text{
            text-align: left;
            width: 40%;
            padding-top: 24px;
        }
        &__image{
            width: 500px;
            background: $bg-color;
            height: 240px;
            overflow: hidden;
            padding: 14px 80px;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            
        }
        &:nth-child(4) img{
            width: 75%;
            margin: 0 auto;
        }
        &__number{
            font-size: 24px;
            color:$act-color;
            font-size: 500;
            margin-top: 24px;
        }
        &__title{
            font-size: 24px;
            font-weight: 400;
            color: $title-color;
            margin: 24px 0 16px 0;
        }
        &__description{
            font-size: 14px;
            width: 80%;
            font-weight: 400;
            color: $text-color;
            line-height: 150%;
        }
    }
}
.banner-selection{
    margin-top: -150px;
    &__banner{
        background: $main-color;
        // height: 308px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        // width: 67.6%;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 32px 100px;

        &__text{
            width: 50%;
            .psikholog__banner__phone{
                font-size: 32px;
                margin-top: -20px;
            }
            span{
                color: #ffffff;
                font-size: 20px;
                background: $red-color;
                padding: 9px 18px;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                border-top-left-radius: 30px;
                margin-top: 30px;
                display: inline-block;
            }
            h2{
                font-size: 28px;
                font-weight: 400;
                color: #ffffff;
                margin-top: 18px;
            }
            p{
                font-size: 20px;
                font-weight: 400;
                line-height: 150%;
                color: #ffffff;
                width: 90%;
                margin-top: 14px;
                margin-bottom: 36px;
            }
            a{
                padding: 17px 20px;
                color: $text-color;
                background: #ffffff;
                border-radius: 35px;
                &:hover{
                    color: #ffffff;
                    background: $act-color;
                }
                
            }
        }
       
    
    }
    &__img{
        width: 340px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
        height: 275px;
        img{
            height: 275px;
        }
    }
}
.comments-block{
    position: relative;
    background: #F1EDFF;
    // padding-top: 15rem;
    padding: 90px 0;
    &__response{
        position: absolute;
        right: 20px;
        top: 107%;
        padding: 17px 24px;
        background: #ffffff;
        color: $text-color;
        border:1px solid $act-color;
        border-radius: 48px;
        font-size: 14px;
        &:hover{
           box-shadow: 0 0 1px 1px $act-color;
            transition: .3s ease;
        }
    }
    &__links{
        display:none;
    }
    .wrapper-item{
        &:after{
            content: '';
            position: absolute;
            top: 24px;
            right: 24px;
            background: url("./../images/quotes-light-1.png");
            width: 42px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: center center;
            background-size: contain;
        }
        &::before{
            content: '';
            position: absolute;
            bottom:24px;
            left: 24px;
            background: url("./../images/quotes-light-2.png");
            width: 42px;
            height: 32px;
            background-size: contain;
        }
    }
    &__slider{
        display: flex;
        justify-content: space-between;
        margin: 60px 0;
        position: relative;
        .slick-track{
            display: flex;
            gap:16px;
            position: relative;
        }
        
        .slick-arrow{
            width: 90px;
            height: 90px;
            z-index: 1005;
            position: absolute;
            top: 115%;
        }
        .slick-prev{
            left: 0;
            background-image: url('./../images/svg/sl-arrow-left.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        .slick-next{
            left: 17vw;
            background-image: url('./../images/svg/sl-arrow-right.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        .slick-dots{
            position: absolute;
            top: 115%;
            left: 100px;
            width: 10vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 14px;
            .slick-active{
                button{
                    background: $act-color;
                    transform: scale(2);
                }

            }
            button{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid $act-color;;
            }
        }
        
    }
    &__item{
        width: 620px;
        background: #ffffff;
        padding: 24px;
        border-radius: 10px;
        position: relative;
        // height: 346px;
        box-sizing: border-box;
       
        &__user{
            position: relative;
        }
        &__avatar{
            width: 64px;
            height: 64px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 110%;
            }
        }
        &__name{
            font-family: $font;
            font-size: 14px;
            font-weight: 500;
            color: $text-color;
            position: absolute;
            top:8px;
            left: 80px;
        }
        &__job{
            font-family: $font;
            font-size: 14px;
            font-weight: 400;
            color: #9895A6;
            position: absolute;
            top:28px;
            left: 80px;
        }
        &__comment{
            font-family: $font;
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
            line-height: 150%;
            padding:14px 28px 28px 0;
            margin-left: 80px;
            
        }
        &__date{
            font-family: $font;
            font-size: 14px;
            font-weight: 400;
            color: #9895A6;
            position: absolute;
            right: 24px;
            bottom: 24px;
        }
    }
}
.question{
    position: relative;
    background: #F1EDFF;
    &__block{
        display: flex;
        justify-content: space-between;
        margin: 90px 0;
    }
    &__list{
        width: 60%;
    }
    &__item{
        background: #ffffff;
        padding: 16px 16px 0 16px;
        margin-bottom: 8px;
        cursor: pointer;
        position: relative;
        border-radius: 8px;
        input[type="checkbox"]{
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        input[type="checkbox"]:checked ~ .question__item__answer{
            display: block;
            max-height: 9999px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-top: 3px solid $bg-color;
        }
        input[type="checkbox"]:checked + .question__item__text{
            &::before{
                transform: rotate(-45deg);
                transition: transform .6s;
            }
        }
        &__answer{
            overflow: hidden;
            font-size: 15px;
            color:$title-color;
            font-weight: 400;
            line-height: 150%;
            max-height: 0;
        }
        &__text{
            font-size: 20px;
            color:#423F4D;
            font-weight: 400;
            padding-bottom: 16px; 
            &::before{
                content: '+';
                position: absolute;
                right: 16px;
                top: 10px;
                display: block;
                font-size: 30px;
                color: $act-color;
                transform: rotate(0deg);
                transition: transform .6s;
            }
        }
       
    }
    &__right{
        width: 37%;
        padding-bottom: 90px;
        &__img{
            margin-bottom: 16px;
        }
        span{
            padding: 10px;
            color: #ffffff;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            border-top-left-radius: 24px;
            background: #FF5C8D;
            margin-top: 24px;
        }
        &__title{
            font-size: 32px;
            color: $title-color;
            font-weight: 400;
            font-family: $font;
            line-height: 110%;
            text-align: center;
            margin-top: 24px;
            padding: 0 14px;
        }
        &__text{
            font-size: 20px;
            color: $text-color;
            font-weight: 400;
            font-family: $font;
            line-height: 120%;
            text-align: center;
            margin-top:12px;
            padding: 0 14px;
        }
        &__link{
            margin-top: 32px;
            display: flex;
            justify-content: space-around;
            padding: 0 14px;
        }
        &__social{
            display: flex;
            justify-content: space-between;
            gap:.5vw;
        }
        &__btn{
            background: $act-color;
            color: #ffffff;
            display: flex;
            align-items: center;
            padding: 21px 24px;
            border-radius: 48px;
            &:hover{
                background: $hover-color;
                transition: .3s ;
            }
        }
    }
}
.advice{
    position: relative;
    padding: 90px 0;
    background: $white-color;
    &__block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 90px 0;
    }
    &__all-link{
        padding: 17px 24px;
        border: 1px solid $act-color;
        border-radius: 48px;
        font-family: $font;
        font-size: 14px;
        color: $text-color;
        position: absolute;
        right: 20px;
        top:10px;
        &:hover{
            box-shadow: 0 0 1px 1px $act-color;
            transition:  .3s;
        }
    }
    &__item{
        width: 48%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        padding: 16px;
        &__img{
            width: 38%;
        }
        &__description{
            width: 58%;
            position: relative;
        }
        &__title{
            font-size: 24px;
            font-weight: 500;
            color: $text-color;
            line-height:120% ;
            margin-bottom: 18px;
            &:hover{
                color: $hover-color;
                transition: color .3s ease;
            }
        }
        &__text{
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
            line-height: 150%;
        }
        &__date{
            font-size: 14px;
            font-weight: 400;
            color: #9895A6;
            line-height: 150%;
            position: absolute;
            left: 0;
            bottom: 10px;
        }
        &__author{
            width: 24px;
            height: 24px;
            position: absolute;
            right: 0;
            bottom: 10px;
        }
    }
    &__more-downloadd{
        background: none;
        margin: 40px auto;
        font-size: 14px;
        padding: 17px 20px;
        border: 1px solid $act-color;
        border-radius: 100px;
        display: flex;
        &:hover{
            box-shadow: 0 0 1px 1px $act-color;
            transition: background .3s ease;
        }
        &::before{
            content: '';
            height: 2px;
            width: 40%;
            position: absolute;
            left: 0;
            bottom: 25px;
            background: $bg-color;
        }
        &::after{
            content: '';
            height: 2px;
            width: 40%;
            position: absolute;
            right: 0;
            bottom: 25px;
            background: $bg-color;
        }
    }
}
.onlain-consul{
    position: relative;
    background: #F1EDFF;
    padding: 90px 0 ;
    &__title{
        font-size: 24px;
        font-weight: 400;
        color: $text-color;
        font-family: $font;
        margin-bottom: 20px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        position: relative;
        // margin-bottom: 90px;
        &:nth-child(1){
            width: 48%;
            .onlain-consul__img{
                width: 40%;
            }
        }
        &:nth-child(2){
            width: 48%;
            .onlain-consul__title{
                font-size: 20px;
            }
            .onlain-consul__img{
                width: 80%;
            }
            .onlain-consul__img{
                margin-bottom: 20px;
            }
        }
        &:nth-child(3){
            width: 100%;
            display: flex;
            justify-content: space-between;
            .onlain-consul__title{
                font-size: 20px;
            }
            .onlain-consul__img{
                width: 40%;
            }
            .onlain-consul__description{
                width: 48%;
            }
        }
        &:nth-child(4){
            width: 100%;
            display: flex;
            justify-content: space-between;
            .onlain-consul__title{
                font-size: 20px;
            }
            .onlain-consul__img{
                width: 40%;
            }
            .onlain-consul__description{
                width: 48%;
            }
        }
    }
    &__text{
        font-size: 14px;
        color:$text-color;
        line-height: 150%;
    }

}
.footer{
    padding: 60px 0;
    background: #ffffff;
    &__navigation{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        display: flex;
        align-items: center;
        &__list{
            display: flex;
            gap:16px;
            
            align-items: center;
            li{
                a{
                    font-size: 14px;
                    color: $title-color;
                    font-weight: 500;
                    &:hover{
                        color: $hover-color;
                        transition: color .3s ease;
                    }
                }
            }
        }
        &__item{
            &:hover{
                color: $hover-color;
                transition: color .3s ease;
            }
        }
    }
    &__contact{
        font-size: 16px;
        color: $text-color;
        font-weight: 500;
        &__list{
            display: flex;
            gap:24px;
            align-items: center;
        }
        &__item{
            &:nth-child(2){
                display: flex;
                gap:8px;
                a{
                    width: 48px;
                    height: 48px;
                    
                }
            }
            &:nth-child(3){
                padding: 16px 24px;
                color: #ffffff;
                background: $act-color;
                border-radius: 150px;
                &:hover{
                    background: $hover-color;
                    transition: background .3s ease ;
                }
            }
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        &__contract,&__copyright{
            font-size: 12px;
            font-weight: 400;
            color: $text-color;
            display: flex;
            align-items: center;
            gap: 18px;
        }
        &__payment{
            display: flex;
            align-items: center;
            gap: 8px;
            li{
                width: 48px;
                height: 32px;
                display: flex;
                align-items: center;
                border:2px solid $bg-color;
                border-radius: 4px;
            }
        }
    }
    
}
.burger-menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    margin-left: -60px;
    cursor: pointer;
    span{
        background: $act-color;
        height: 2px;
        width: 30px;
    }
}
