.title-page{
    position: relative;
    background: #ffffff;
    padding-bottom: 100px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    width: 100%;
    .container{
        display: flex;
        justify-content: center;
    }
    h2{
        font-size: 40px;
        font-weight: 400;
        color: $title-color;
        text-align: center;
        margin: 60px 0;
        display: inline-block;
        &::after{
            content: '';
            position: absolute;
            bottom: 42%;
            right: 17%;
            background: url('./../images/svg/heard.svg');
            background-repeat: no-repeat;
            background-position: 100% 108%;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
.filter{
    position: relative;
    // border-bottom-left-radius: 70px;
    // border-bottom-right-radius: 70px;
    // background: #ffffff;
    z-index: 1005;
    &__mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    &__open{
        background: $main-color;
        color: $white-color;
        padding: 14px 42px;
        border-radius: 48px;
        border: none;
    }
    &__close{
        // display: none;
        position: absolute;
        top:0;
        right: 20px;
        padding: 30px;
        background: url("./../images/svg/close.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 18px;
        height: 18px;
        cursor:pointer;
        color: $white-color;
    }
    &__apply{
        padding: 17px 0;
        background: $white-color;
        border-radius: 48px;
        color: $text-color;
        display: none;
        width: 250px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        &:hover{
            background: $act-color;
            color: $white-color;
        }
    }
    .select__box{
        display: none;
    }
    &__box{
        background: $main-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap:3px;
        padding: 16px 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        flex-wrap: wrap;
       margin-top: -110px;
    }
    &__item{
        background: #ffffff;
        display: flex;
        flex-direction: column;
        width: 24.8%;
        margin-bottom: 10px;
        position: relative;
    }
    &__select{
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        &__icon{
            transform: rotate(-90deg);
            margin-right: 22px;
            font-size: 24px;
            color: $act-color;
        }
        &__name{
            padding: 0 16px;
            white-space: nowrap;
        }
        &__list{
            background: #ffffff;
            display: none;
            position: absolute;
            flex-direction: column;
            left: 0;
            // right: 0;
            top: 70px;
            // width: 100%;
            overflow: hidden;
            min-width: 100%;
            z-index: 1010;
            
        }
        &__item{
            padding: 10px 16px;
            cursor: pointer;
            border-bottom: 1px solid $bg-color;
            word-wrap:normal;
            &:hover{
                background: $bg-color;
            }
            &:nth-child(1){
                border-top: 1px solid $bg-color;
            }
        }
    }
    &__item-sm{
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative ;
        border-radius: 5px; 
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        .select__header{
            padding-top: 5px;
            box-sizing: border-box;
            width: 100%;
            // padding-left: 5px;
            // padding-right: 5px;
            display: flex;
            align-items: center;
        }
        .filter__select__name{
            padding: 0 5px 0 16px;
        }
        .filter__select__list{
            min-width: 100%;
            margin-top: -27px;
            
        }
    }
    
    label{
        font-size: 15px;
        color: #9895A6;
        font-weight: 400;
        padding: 10px 16px 4px 16px;
       
        
    }
    &__bottom{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        gap:5px;
    }
    &__item-price{
        background: #ffffff;
        display: flex;
        align-items: center;
        min-width: 204px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding: 8px 0;
        .filter__select{
            padding: 0;
        }
        .filter__select__list{
            width: 100%;
            margin-top: -30px;
        }
        label{
            padding: 0;
            padding-left: 16px;
        }
    }
    .meeting{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            background-color: none;
            width: 20px;
            height: 20px;
        }
        label{
            font-size: 14px;
            font-weight: 400;
            color: $white-color;
            padding: 0;
        }
    }
    .search{
        display: block;
        width: 21.8%;
        padding: 10px 16px;
        &__form{
            width: 100%;
        }
        input{
            border: none;
            outline: none;
            font-size: 15px;
            font-weight: 500;
            color: $text-color;
            width: 90%;
            background: url("./../images/svg/search.svg");
            background-repeat: no-repeat;
           background-position: 100% center;
            padding-right: 10%;
        }
    }
}
.content{
    background: $bg-color;
    position: relative;
    padding: 90px 0;
    
}
.psikholog{
    &__item{
        display: flex;
        margin-bottom: 16px;
        justify-content: space-between;
        gap: 16px;
        height: 308px;
        position: relative;
        overflow: hidden;
        &__right{
            position: absolute;
            width: 22%;
            right: 0;
            top:24px;
            bottom: 24px;
            .psikholog__item__btn {
                position: absolute;
                right: 16px;
                bottom: 16px; 
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 20%;
                gap: 7px;
            }
            .psikholog__item__format{
                top:0;
            }
        }
        &__profile{
            background: #ffffff;
            padding: 16px;
            width: 70%;
            position: relative;
            // height: 300px;
            border-radius: 8px;
        }
        &__foto{
            width: 183px;
            // height: 183px;
            position: relative;
            margin-right: 16px;
            span{
                position: absolute;
                bottom: 1px;
                left: 1px;
                background: #ffffff;
                padding: 8px;
                font-size: 14px;
                color: $text-color;
                font-weight: 400;
                border-top-right-radius: 25px;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
        &__info{
            position: absolute;
            top:16px;
            left: 216px;
            color: $text-color;
            right: 0;
        }
        &__city{
            font-size: 14px;
            
        }
        &__name{
            font-size: 24px;
            font-weight: 400;
            margin-top: 7px;
            margin-bottom: 16px;
        }
        ul{
            font-size: 15px;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
        }
        &__speciality{
            width: 60%;
            margin-top: 50px;
        }
        &__direction{
            position: absolute;
            left: -200px;
            top: 198px;
            width: 100%;

            li{
                padding: 8px 10px;
                border: 1px solid $bg-color;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 400;
            }

        }
        &__format{
            font-size: 14px;
            color: $text-color;
            font-weight: 400;
            display: flex;
            position: absolute;
            right: 16px;
            top:16px;
            width: 100%;
            justify-content: flex-end;
            li{
                display: flex;
                gap:10px;
            }
            i{
                width: 14px;
                height: 14px;
                display: block;
                margin-left: 10px;
            }
        }
        &__price{
            font-size: 24px;
            color: $text-color;
            font-weight: 400;
            position: absolute;
            right: 16px;
            top:41px;
        }
        &__experience{
            font-size: 14px;
            color: $text-color;
            font-weight: 400;
            display: flex;
            position: absolute;
            left: -8px;
            top: 70px;
            // width: 53%;
            li{
                display: flex;
                gap:10px;
            }
            i{
                width: 18px;
                height: 18px;
                display: block;
                margin-left: 10px;
            }
        }
        &__btn{
            position: absolute;
            right: 16px;
            bottom:16px;
            display: flex;
            flex-direction: column;
            text-align: center;
           
            width: 25%;
            gap:7px;
            a{
                height: 57px;
                color: #ffffff;
                border-radius: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $act-color;
                &:hover{
                    background: $hover-color;
                    transition: .3s;
                }
            }
        }
        &__session{
            background: #ffffff;
            padding: 16px;
            width: 28.5%;
            position: relative;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            video{
                height: 200px;
            }
            i{
                margin-right: 10px;
            }
            a{
                padding: 16.5px;
                border: 1px solid $act-color;
                font-size: 15px;
                font-weight: 500;
                border-radius: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background: $hover-color;
                    color:$white-color;
                    transition: .3s;
                    .icon-svg{
                        fill:#ffffff;
                        transition: .3s;
                    }
                }
            }
        }
        
    }
    &__banner{
        background: $main-color;
       
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        height: auto;
        box-sizing: border-box;
        

        &__text{
            width: 50%;
            .psikholog__banner__phone{
                font-size: 32px;
                margin-top: -20px;
            }
            span{
                color: #ffffff;
                font-size: 20px;
                background: $red-color;
                padding: 9px 18px;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                border-top-left-radius: 30px;
                margin-top: 30px;
                display: inline-block;
            }
            h2{
                font-size: 28px;
                font-weight: 400;
                color: #ffffff;
                margin-top: 18px;
            }
            p{
                font-size: 20px;
                font-weight: 400;
                line-height: 150%;
                color: #ffffff;
                width: 90%;
                margin-top: 14px;
                margin-bottom: 36px;
            }
            a{
                padding: 17px 20px;
                color: $text-color;
                background: #ffffff;
                border-radius: 35px;
                &:hover{
                    color: #ffffff;
                    background: $act-color;
                }
                
            }
        }
        &__img{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            box-sizing: border-box;
        }
    
    }
}
.pagination-more{
    padding: 14px 24px;
    background: $act-color;
    border-radius: 48px;
    color: $white-color;
    display: none;
    margin-top: 60px;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    gap:10px;
    margin-top: 40px;
    .arrow{
        stroke: $text-color;
    }
    .arrow-next{
        transform: rotate(180deg);
    }
    .pagination-active{
        color: #ffffff;
        background: $act-color;
    }
    a{
        font-size: 14px;
        font-weight: 400;
        color: $text-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            color: #ffffff;
            background: $act-color;
        }
        &:hover .arrow{
            stroke: #ffffff;
        }
    }
}
.psiholog{
    position: relative;
    padding: 30px 0 60px 0;
    &__basic{
        background: $white-color;
        width: 100%;
        padding: 24px;
        display: flex;
        justify-content: flex-start;
        border-radius: 8px;
        flex-wrap: wrap;
        
        &__left{
            width: 70%;
            position: relative;
            
        }
        &__right{
            width: 30%;
            padding-left: 24px;
            .btn-fixed a{
                padding: 12px 0;
                font-size: 14px;
                background: $act-color;
                color: $white-color;
                border-radius: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    margin-right: 8px;
                }
                &:hover{
                    background: $hover-color;
                    transition: .3s;
                }
            }
            a{
                padding: 12px 0;
                font-size: 14px;
                background: $white-color;
                color: $title-color;
                border-radius: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border:1px solid $act-color;
                    color: $title-color;
                    // padding-left: 38px;
                    &:hover{
                       box-shadow: 0 0 1px 1px $act-color;
                        transition: .3s;
                    }
                i{
                    margin-right: 8px;
                }
               
            }
            video{
                height: 208px;
            }
        }
        &__btn{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap:16px;
            .btn-fixed{
                display: flex;
                flex-direction: column;
                gap:16px;
            }
        }
        &__info{
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-bottom: 30px;
            flex-wrap: wrap;
        }
        &__images{
            width: 293px;
            height: 293px;
        }
        &__description{
                width: 63%;
                position: relative;
        }
        &__price{
            display: flex;
            justify-content: flex-start;
            width: 27%;
            margin-top: 15px;
            gap:8px;
            margin-left: 306px;
            margin-top: -67px;
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                background: $bg-color;
                padding: 8px;
                span{
                    &:nth-child(1){
                        font-size: 24px;
                        color: $title-color;
                        font-weight: 500;
                    }
                    &:nth-child(2){
                        font-size: 14px;
                        color: $title-color;
                        font-weight: 400;
                    }
                }
            }
        }
        &__location{
            border-top: 1px solid $bg-color;
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .location-item{
                display: flex;
                flex-direction: column;
                span{
                    &:nth-child(1){
                        font-size: 14px;
                        color: #9895A6;
                        font-weight: 400;
                        line-height: 150%;
                    }
                    &:nth-child(2){
                        font-size: 14px;
                        color: $text-color;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }
            }
        }
       
    }
    &__name{
        font-size: 32px;
        font-weight: 400;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    &__format{
        font-size: 14px;
        color: $text-color;
        font-weight: 400;
        display: flex;
        position: absolute;
        left: 0;
        top:85px;
        width: 100%;
        justify-content: flex-start;
        li{
            display: flex;
            gap:10px;
            margin-right: 10px;
            &:nth-child(2){
                margin-left: 10px;
            }
        }
        i{
            width: 14px;
            height: 14px;
            display: block;
            
        }
    }
    &__speciality{
        width: 48%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:8px;
        font-size: 14px;
        font-weight: 400;
        color: $title-color;
        margin-top: -120px;
        margin-left: 306px;
        height: 40px;
        li{
            padding: 0;
            margin: 0;
        }
    }
    &__status{
        font-size: 14px;
        font-weight: 400;
        color: #9895A6;
        background-image: url('./../images/svg/verified.svg');
        background-repeat: no-repeat;
        background-position: 0 center;
        padding-left: 24px;
    }
    &__contant{
        width: 68%;
        margin-left: 24px;
    }
    &__experience{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        font-size: 14px;
        color: $text-color;
        font-weight: 400;
        li{
            display: flex;
            gap:10px;
            padding: 4px 0;
        }
        i{
            width: 14px;
            height: 14px;
            display: block;
            // margin-left: 10px;
        }
    }
    .reservation {
        padding: 16px 24px;
    }
    &__item{
        width: 100%;;
        padding: 0 24px;
        background: $white-color;
        border-radius: 8px;
        box-sizing: border-box;
        margin-bottom: 16px;
        &__title{
            font-size: 24px;
            font-weight: 400;
            color: $title-color;
            font-family: "Golos Text", sans-serif;
            padding: 16px 0;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top:24px;
                right: 16px;
                background-image: url("./../images/svg/plus.svg");
                background-repeat: no-repeat;
                background-position: center center;
                width: 16px;
                height: 16px;
            }
        }
        &__more{
            color: $act-color;
            font-size: 14px;
            background: none;
            border: none;
            margin: 24px 0;
           
        }
        &__height{
            height: 100%;
        }
        &__active {
            .psiholog__item__body{
                display: block;
                padding: 24px 0;
            }
            .psiholog__item__title::after{
                transform: rotate(-45deg);
                transition: .3s;
            }
        }
        &__body{
            padding: 16px 0;
            font-size: 14px;
            color: $text-color;
            font-weight: 400;
            line-height: 150%;
            border-top: 2px solid $bg-color;
            display: none;
            h3{
                font-size: 20px;
                font-weight: 400;
                color: $title-color;
                margin: 40px 0 16px 0;
            }
            p{
                margin-bottom: 16px;
            }
        }
        &__type{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;
            padding: 24px 0;
            border-bottom: 2px solid $bg-color;
            &:nth-child(1){
                padding-top: 0;
            }
            span{
                &:nth-child(1){
                    font-size: 16px;
                    color: $text-color;
                    width: 20%;
                    font-weight: 500;
                }
                &:nth-child(2){
                    font-size: 15px;
                    color: $text-color;
                    width: 55%;
                    text-align: left;
                    line-height: 150%;
                }
                &:nth-child(3){
                    font-size: 14px;
                    color: #9895A6;
                    width: 20%;
                    justify-content: flex-end;
                    display: flex;
                    align-items: center;
                    background-image: url('./../images/svg/verified.svg');
                    background-repeat: no-repeat;
                    background-position: 35% center;
                    
                }
            }
        }
    }
    &__therapy{
        &:nth-child(2){
            ul{
                display: flex;
                flex-direction: column;
                font-size: 14px;
                color:#423F4D;
                gap:8px;
                margin-left: 20px;
                flex-wrap: wrap;
                margin-top: 20px;
                height: 14vw;
                li{
                    list-style-image: url("./../images/svg/line-style.svg");
                    padding-left: 10px;
                    width: 50%;
                }
            }
        }
            
        &:nth-child(3){
            ul{
                display: flex;
                flex-direction: column;
                font-size: 14px;
                color:#423F4D;
                gap:8px;
                margin-left: 20px;
                flex-wrap: wrap;
                margin-top: 20px;
                height: 14vw;
                li{
                    list-style-image: url("./../images/svg/line-style-none.svg");
                    padding-left: 10px;
                    width: 50%;
                }
            }
        }
        
        
    }
    &__diplom-slider{
        margin-top: 16px;
        padding: 24px;
        
        &__wrapper{
            margin: 24px 0;
        }
       
        .diplom-slider{
             &__list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 88px;
                gap:15px;  
            }
            .slick-list {
                overflow: hidden;
            }
            
            .slick-slide{
                display: flex;
                justify-content: center;
            }
            &__item{
                height: 207px;
                border:1px solid $bg-color;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                img{
                    display: block;
                }
                
            }
        }
        .slick-arrow{
            width: 42px;
            height: 90px;
            z-index: 1005;
            position: absolute;
            top: -45px;
        }
        .slick-prev{
            left: 0;
            background-image: url('./../images/svg/arrow-left-grey.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        .slick-next{
            left: 60px;
            background-image: url('./../images/svg/arrow-right-focus.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        
    }
    &__request{
        padding: 16px 24px;
        &__btn{
            margin-top: 48px;
            display: block;
        }
        a{
            
            color:$white-color;
            font-weight: 500;
            padding: 17px 24px;
            background: $act-color;
            border-radius: 48px;
            display: inline-flex;
            &:hover{
                background: $hover-color;
                transition: .3s;
            }
        }
    }
    &__additionally{
        background: $main-color;
        display: flex;
        justify-content: space-between;
        gap:8px;
        padding: 16px 24px;
        &__item{
            background: $white-color;
            padding: 8px;
            p{
                &:nth-child(1){
                    font-size: 15px;
                    font-weight: 600;
                    color:$title-color;
                    line-height: 150%;
                }
                &:nth-child(2){
                    font-size: 14px;
                    font-weight: 400;
                    color:$text-color;
                    line-height: 150%;
                    margin-top: 8px;
                }
            }
        }
    }
    &__service-packages{
        padding: 16px 24px;
        .service-packages{
            display:flex;
            justify-content: space-between;
            margin-top: 24px;
            &__item{
                border-top: 1px solid $bg-color;
                border-right: 1px solid $bg-color;
                padding: 24px;
                width: 33.33%;
                &:last-child{
                    border-right: none;
                }
            }
            &__name{
                font-size: 20px;
                font-weight: 400;
                color: $act-color;
                line-height: 150%;
            }
            &__description{
                font-size: 14px;
                font-weight: 400;
                color: $text-color;
                line-height: 150%;
            }
            &__price{
                margin: 40px 0;
                display: flex;
                justify-content: space-between;
                
            }
            &__box{
                span{
                    display: block;
                    &:nth-child(1){
                        font-size: 13px;
                        color: #9895A6;
                        font-weight: 400;
                        line-height: 150%;
                    }
                    &:nth-child(2){
                        font-size: 24px;
                        color: $title-color;
                        font-weight: 500;
                        line-height: 150%;
                    }
                }
            }
            &__btn{
                a{
                    padding: 17px 24px;
                    color:$white-color;
                    background: $act-color;
                    font-weight: 500;
                    border-radius: 48px;
                    &:hover{
                        background: $hover-color;
                        transition: .3s;
                    }
                }
            }
        }
    }
    .vebinares__planned{
        margin: 0;
    }
    &__about{
        margin-top: 16px;
        overflow: hidden;
        .psiholog__item__body{
            height: 260px;
            overflow: hidden;
            display: block;
        }
        .psiholog__item__title::after{
            display: none;
        }
    }
}

.psiholog__item__text:target{
    display: block;
}
.item-title{
    font-size: 24px;
    font-weight: 400;
    color: $title-color;
    // 
}
.psiholog .slick-track{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    
}
.single-psiholog .vebinares__planned{
    margin: 0;
    padding: 0 0 60px 0;
}
.single-psiholog .vebinares__completed__list{
    margin-top: 40px;
    
}
.vebinares__completed .advice__more-downloadd{
    margin-top: 40px;
    &::after{
        bottom:62px;
    }
    &::before{
        bottom:62px;
    }
}
.single-psiholog .vebinares__completed{
    padding: 60px 0 20px 0;
}
.single-psiholog .advice{
    padding: 60px 0 40px 0;
}
.single-psiholog .vebinares__completed__item{
    margin-bottom: 0;
}
.last-views{
    padding-bottom: 60px;
    &__title{
        font-size:40px;
        font-weight: 400;
        color:$title-color;
        line-height: 110%;
        margin: 40px 0;
        }
        ul{
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            li{
                width: 190px;
                height: 190px;
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                
            }   
        }
            
        &__info{
            position: absolute;
            bottom: 16px;
            left: 16px;
            color:$white-color;
        }
        &__name{
            font-size: 20px;
            font-weight: 500;
        }
        &__experience{
            font-size: 14px;
            font-weight: 400;
        }
        &__mask{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            &:hover{
                border: 10px inset $act-color;
                transition: .1s;
            }
        }
}
.reservation{
    .item-description{
        color: $text-color;
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;        }
    &__filter{
        width: 50%;
        margin-top: 16px;
        
        input[type="radio"]{
            position: absolute;
            opacity: 0;
            z-index: -1;
            &:checked ~ .filter-btn{
                background: $act-color;
                color: $white-color;
            }
        }
        .filter__btn{
            position: relative;
            width: 50%;
            box-sizing: border-box;
            .filter-btn{
                width: 100%;
                background: $white-color;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 13px 0;
                font-size: 14px;
                font-weight: 500;
                color: $text-color;
                border: 1px solid $act-color;
                border-radius: 3px;
            }

        }
        &__format{
            // width: 100%;
            display: flex;
            justify-content:space-between;
            gap:8px;
        }
        &__type{
            background: $bg-color;
            padding: 8px;
            border-radius: 3px;
           margin-top: 8px;
            form{
                display: flex;
                justify-content:stretch;
                gap:8px;
            }
        }
    }
   
   
}
.calendar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .data-active{
        border-top: 1px solid $bg-color;
    }
    &__wrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        
    }
    &__date{
        display: flex;
        flex-direction: column;
        border-top: 2px solid $act-color;
        width: 14.28%;
        &__day{
            display: flex;
            flex-direction: column;
            padding: 8px;
            align-items: center;
           
            span{
                display: block;
                &:nth-child(1){
                    font-size: 16px;
                    color: $title-color;
                    line-height: 150%;
                }
                &:nth-child(2){
                    font-size: 14px;
                    color: #9895A6;
                    line-height: 150%;
                }
            }
        }
        &__time{
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                padding: 8px;
                color: $act-color;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }
    &__arrows{
        position: relative;
        display: block;
        margin: 24px 0;
        height: 42px;
        width: 120px;
        &__prev{
            position: absolute;
            left: 0;
            top:0;
            background-image: url('./../images/svg/arrow-left-grey.svg');
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            width: 42px;
            height: 42px;
        }
        &__next{
            position: absolute;
            left: 60px;
            top:0;
            background-image: url('./../images/svg/arrow-right-focus.svg');
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            width: 42px;
            height: 42px;
        }
    }
    
}
.comments{
    position: relative;
    &__count{
        font-size: 14px;
        font-weight: 400;
        color:#9895A6;
        position: absolute;
        right: 24px;
        top:32px;
        span{
            font-size: 14px;
            font-weight: 400;
            color:$title-color;
        }
    }
}
.mobile-filter-btn{
    display: none;
    background: $white-color;
    border: none;
    border-radius: 48px;
    padding: 10px 24px;
    color: $title-color;
    align-items: center;
    justify-content: space-around;
    width: 38%;
    font-size: 14px;
    &__burger{
        width: 24px;
        height: 24px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
            background: $act-color;
            display: block;
            height: 2px;
            &:nth-child(1){
                width: 100%;
            }
            &:nth-child(2){
                width: 70%;
            }
            &:nth-child(3){
                width: 50%;
            }
        }
    }
}
.mobile-filter{
    width: 100vw;
    background: $white-color;
    padding: 20px;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 1210;
    transform: translateX(-100vw);
    // height: 100vh;
    overflow: hidden;
    label{
        padding: 0;
    }
    &__active{
        transform: translateX(0);
        transition-property: tranform;
        transition: 1s;
    }
    &__item{
        margin-top: 30px;
    }
    .test__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: $bg-color;
        padding: 8px 8px 0 8px;
        border-radius: 8px;
         width: 100%;
        margin-top: 16px;
        
        &__left{
            width: 50%;
        }   
        &__right{
            width: 50%;
        }
        &__item{
            margin-bottom: 8px;
            width: 100%;
        }
        .test-label{
            background: $white-color;
            padding: 16px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            box-sizing: border-box;
            gap:8px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            &__real{
                position: absolute;
                opacity: 0;
                z-index: 1;
                &:checked ~ .test__custom-checkbox{
                    background: $act-color;
                }
                &:checked  ~ .test__custom-checkbox .chackedmark{
                    opacity: 1;
                }
                
            }
            .chackedmark { // Тут центритуем и пишем стили для иконки
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                // height: auto;
                opacity: 0;// Скрываем иконку
            }
        }
        .test__custom-checkbox{
            width: 14px;
            height: 14px;
            border: 1px solid $act-color;
            border-radius: 3px;
            display: flex;
            margin-right: 16px;
            background: none;
            position: relative;
        }
    }
    &__close{
        position: absolute;
            top:0;
            right: 0;
            padding: 30px;
            background: url("./../images/svg/close.svg");
            background-repeat: no-repeat;
            background-position: center center;
            width: 18px;
            height: 18px;
            cursor:pointer;
            color: $white-color;
    }
    &__title{
        font-size: 24px;
        color:$text-color;
        font-weight: 400;
        line-height: 150%;
    }
    &__content{
        position: relative;
        overflow-x: scroll;
       height: 85%;
        
    .filter__query__item{
        margin-top: 30px;
    }
    .filter__query__box{
        background: $bg-color;
        padding: 8px;
        border-radius: 8px;
        margin-top: 16px;
        margin-bottom: 16px;
       
        form{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;
            gap:8px;
        }
        input[type="radio"]{
            position: absolute;
            opacity: 0;
            z-index: -1;
            &:checked ~ .filter-btn{
                background: $act-color;
                color: $white-color;
                .fl-icon{
                    fill:$white-color;
                }
            }
        }
        input[type="checkbox"]{
            position: absolute;
            opacity: 0;
            z-index: -1;
            &:checked ~ .filter-btn{
                background: $act-color;
                color: $white-color;
                .fl-icon{
                    fill:$white-color;
                }
            }
        }
        .filter__btn{
            position: relative;
            width: 100%;
            box-sizing: border-box;
            .filter-btn{
                width: 100%;
                background: $white-color;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 17px 0;
                font-size: 14px;
                font-weight: 500;
                color: $text-color;
                border: 1px solid $act-color;
                border-radius: 3px;
                .fl-icon{
                    fill:$act-color;
                }
                i{
                   width: 32px;
                   height: 32px;
                    display: block;
                    margin-right: 10px;
                }
                
            }

        }
        
    }
}
    &__btn{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 16px 0;
       .mobile-filter__cancel{
        background: none;
        border: none;
        color: $act-color;
        font-size: 14px;
        font-weight: 500;
       }
       .mobile-filter__apply{
        background: $act-color;
        color: $white-color;
        font-size: 14px;
        font-weight: 500;
        border-radius: 48px;
        padding: 17px 0;
        width: 48%;
        border: none;
       }
    }

}
.psiholog__basic .psiholog__basic__right .btn-fixed{
    flex-direction: column;
    top:500px;
    a{
        width: 100%;
    }
}
.psiholog-query__btn{
    display: none;
    padding: 12px 0;
    font-size: 14px;
    background: #795BDA;
    color: #ffffff;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    border: none;
}
.psiholog-query{
    display: none;
}

.hidden{
    display: none !important;
}
